.main-section {
    max-width: 100%;
    min-height: 480px;
    width: 100%;
    height: auto;
    opacity: 1;
    background: url('./assets/images/bg-image@2x.png') no-repeat;
    background-size: cover;
    position: relative;
}
.header-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.logo {
    padding: 4rem 6rem;
}

.mid-section {
    display: grid;
    place-items: center;
}

.header-title, .clients-text-middle {
    font-family: effra, sans-serif;
    color: white;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: .06em;
    line-height: 1.8em;
    padding-top: 1rem;
    margin: 0;
    text-transform: uppercase;
}

.header-call-to-action {
    font-family: effra, sans-serif;
    color: #fff;
    margin: 0;
    font-size: 8vw;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-top: 1.5rem;
    padding-bottom: 10rem;
}

.dots {
    padding: 1rem;
    cursor: pointer;
}

main {
    background: #FFFFFF;
    max-width: 100%;
    max-height: 2462px;
    margin: 6rem;
    padding-bottom: 3rem;
}
.main-title {
    font-family: effra, sans-serif;
    color: #2F272A;
    font-size: 8vw;
    font-weight: 300;
    line-height: 1em;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 1rem;
}
.main-subtitle {
    font-family: effra, sans-serif;
    color: #2F272A;
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.4em;
    text-align: left;
}
strong {
    color: #ff004e;
    font-weight: 300;
}

.articles {
    font-family: 'Roboto', sans-serif;
    line-height: 2.3em;
    font-size: 1.4vw;
    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 6em;
    padding-right: 2rem;
}

.container-clients {
    color: #fff;
    display: grid;
    place-items: center;
    background: #2f272a;
    padding-top: 4rem;
}

.list-of-clients {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    padding-right: 2rem;
}

.client-item {
    height: 8rem;
    list-style: none;
    position: relative;
    text-align: center;
    width: 20%;
}
.clients-text-middle {
    padding-bottom: 5rem;
}
.client-img {
    height: auto;
    max-height: 2rem;
    max-width: 4rem;
    vertical-align: top;
    width: auto;
}
footer {
    background: #FFFFFF;
    padding: 2rem 6rem 2rem 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer-logo {
    height: auto;
    max-height: 4rem;
    max-width: 6rem;
    width: auto;
    padding-right: 2rem;
}

.footer-copyright {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
}


@media only screen and (max-width: 600px) {
    .articles {
        -webkit-columns: 1 400px;
        -moz-columns: 1 400px;
        columns: 1 400px;
        padding-bottom: 1rem;
    }
    .main {
        padding-bottom: 1rem;
    }
    .list-of-clients {
        padding-right: 2.8rem;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
    }
    .client-img {
        height: auto;
        max-height: 1rem;
        max-width: 3rem;
    }
    .logo  {
        width: 20%;
        padding: 4rem 2rem;
        transition: 0.4s;
    }
    .footer-logo {
        width: 30%;
        padding: 2rem 1rem 2rem 1rem;
    }
    .dots {
        display: none;
    }

    .header-title, .clients-text-middle {
        font-size: 0.5rem;
    }
    .footer-copyright {
        display: flex;
        flex-direction: column;
    }

}

/* Extra small devices (phones, 415px and down) */
@media only screen and (max-width: 415px) {
    .list-of-clients {
        padding-right: 5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        position: relative;
    }
    main {
        padding-bottom: 2rem;
    }
    .logo  {
        width: 20%;
        padding: 4rem 2rem;
        transition: 0.4s;
    }
    .dots {
        display: none;
    }
    .header-title, .clients-text-middle {
        font-size: 0.5rem;
    }
    .footer-logo {
        width: 30%;
        padding: 2em 1em 2em 1em;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
    }
}

